<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="base(title, content, scripts, description)"
      th:with="supabaseUrl=${@environment.getProperty('mindlog.supabase.url')},
               supabaseAnonKey=${@environment.getProperty('mindlog.supabase.anon-key')}">

<head th:replace="~{fragments/head :: head(${title}, ${description})}">
</head>

<body class="bg-gradient-mindlog min-h-screen" data-controller="preline">
<div th:replace="~{fragments/navbar :: navbar(${supabaseUrl}, ${supabaseAnonKey})}"></div>

<main>
    <th:block th:replace="${content}">
    </th:block>
</main>

<div th:replace="~{fragments/scripts :: scripts(${supabaseUrl}, ${supabaseAnonKey})}"></div>

<th:block th:replace="${scripts}">
</th:block>
</body>
</html>