<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="scripts(supabaseUrl, supabaseAnonKey)">
    <script th:inline="javascript">
        (function () {
            'use strict';
            /*<![CDATA[*/
            const SUPABASE_URL = /*[[${supabaseUrl != null ? supabaseUrl : @environment.getProperty('mindlog.supabase.url')}]]*/ '';
            const SUPABASE_ANON_KEY = /*[[${supabaseAnonKey != null ? supabaseAnonKey : @environment.getProperty('mindlog.supabase.anon-key')}]]*/ '';
            /*]]>*/

            // [수정] 직접 createClient 하지 않고, turbo-init.js의 함수를 호출합니다.
            // turbo-init.js 내부에서 이미 싱글톤 체크를 하므로 안전합니다.
            if (typeof window.initSupabaseForTurbo === 'function') {
                window.initSupabaseForTurbo(SUPABASE_URL, SUPABASE_ANON_KEY);
            }
        })();
    </script>
</th:block>
</body>
</html>