<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="scripts(supabaseUrl, supabaseAnonKey)">
    <script th:inline="javascript">
        (function () {
            'use strict';
            /*<![CDATA[*/
            const SUPABASE_URL = /*[[${supabaseUrl != null ? supabaseUrl : @environment.getProperty('mindlog.supabase.url')}]]*/ '';
            const SUPABASE_ANON_KEY = /*[[${supabaseAnonKey != null ? supabaseAnonKey : @environment.getProperty('mindlog.supabase.anon-key')}]]*/ '';
            /*]]>*/

            if (typeof window.initSupabaseForTurbo === 'function') {
                window.initSupabaseForTurbo(SUPABASE_URL, SUPABASE_ANON_KEY);
            } else if (!window.supabaseClient && window.supabase?.createClient) {
                window.supabaseClient = window.supabase.createClient(SUPABASE_URL, SUPABASE_ANON_KEY);
            }
        })();
    </script>
</th:block>
</body>
</html>
